@{
    ViewBag.Title = "Przypominanie hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Skontaktuj się z administartorem, aby wygenerować nowe hasło.
    </p>
</div>
	
