@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Administator:</strong>   <a href="mailto:admin@miniplanner.com">Admin@MiniPlanner.com</a><br />
</address>