@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <h1>MiNI Planner</h1>
    <p class="lead">Zapisz się do odpowiednich grup laboratoryjnych.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Dowiedz się więcej &raquo;</a></p>
</div>