@model HandleErrorInfo

@{

    ViewBag.Title = "Niepowodzenie";

}

<h1 class="error">Podana strona nie istnieje lub nie masz odpowiednich uprawnień do jej przeglądania. Mógł też nastąpić nieoczekiwany błąd ;(</h1>